.arena___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../resources/arena.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.arena___battlefield {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.arena___right-fighter img {
  transform: scaleX(-1);
}

.arena___fighter img {
  height: 480px;
}

.arena___fight-status {
  display: flex;
  margin: 30px;
  justify-content: center;
}

.arena___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.arena___fighter-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.arena___health-indicator {
  width: 100%;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
}

.arena___health-bar {
  height: 100%;
  width: 100%;
  background-color: #ebd759;
}

.arena___fighter {
  transition: 0.5s;
}

.arena___left-fighter-hit {
  position: relative;
  left: 250px;
}

.arena___left-fighter-crit {
  position: relative;
  left: 250px;
  animation: spin1 1s;
  filter:contrast(200%);
}

.arena___left-fighter-block {
  position: relative;
  left: -50px;
}

.arena___right-fighter-hit {
  position: relative;
  right: 250px;
}

.arena___right-fighter-crit {
  position: relative;
  right: 250px;
  animation: spin2 1s;
  filter:saturate(8);
}

.arena___right-fighter-block {
  position: relative;
  right: -50px;
}

@keyframes spin1 {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@keyframes spin2 {
  from {
    transform:rotate(360deg);
  }
  to {
    transform:rotate(0deg);
  }
}