.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  height: 100%;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___stats {
	text-align: left;
	color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 14px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.fighter-preview___img {
	margin: auto;
}

.fighter-preview___root .fighter-preview___img {
  max-height: 220px;
}

.fighter-preview___img_alt {
  filter:hue-rotate(90deg);
}

.fighter-preview___stats {
	width: 100%;
}

.fighter-preview___stats > * {
  margin-top: 5px;
  padding: 5px;
}

.fighter-preview___stats_health-bar {
	background-color: #ebd759;
}

.fighter-preview___stats_attack-bar {
	background-color: red;
}

.fighter-preview___stats_defense-bar {
	background-color: lime;
}